/* tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* banner carousel */
.thumbs {
    display: flex;
    justify-content: center;
}



/* .css-t3ipsp-control{
    border-color: black !important;
    box-shadow: 0px 0px 0px 1px black !important;
} */

/* swiper slider  */
.swiper-button-prev:after, .swiper-button-next:after{
   font-size: 20px !important ;
}
@media screen and (min-width: 600px) {
    .swiper-button-prev:after, .swiper-button-next:after{
        font-size: 40px !important ;
    }
  }